@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-box
{
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}