<div class="box location">
  <form>
  <div class="buttons big-buttons">
    <div class="big-buttons">
      <a class="button green big t-save">save</a>
      <a class="button blue more t-save-as-new">+</a>
      <div class="clear"></div>
    </div>
    <a class="button blue more t-close">close</a>
  </div>
  <ul class="form">
    <% if (!_.isUndefined(location.id)) { %>
    <li class="label">ID</li>
    <li class="value"><%= location.id %></li>
    <div class="clear"></div>
    <% } %>
    <li class="label">Codename</li>
    <li class="value"><input class="field" type="text" name="codename" value="<%= location.codename %>" /></li>
    <div class="clear"></div>
    <li class="label">Logic bricks</li>
    <li class="value r-logic-bricks"></li>
    <div class="clear"></div>
  </ul>
  </form>
  <div class="clear"></div>
</div>
