<div class="location">
  <ul class="form">
    <% if (!_.isUndefined(location.id)) { %>
    <li class="label">ID</label></li>
    <li class="value"><%= location.id %></li>
    <% } %>
    <li class="label">Codename</li>
    <li class="value"><input class="field" type="text" name="codename" value="<%= location.codename %>" /></li>
    <li class="label">Exits</label></li>
    <li class="value r-exits"></li>
    <li class="label">Logic bricks</li>
    <li class="value r-logic-bricks"></li>
  </ul>
  <div class="buttons">
    <a class="button t-save">Save</a>
    <a class="button t-close">Close</a>
  </div>
</div>
