.clear { clear:both; }
html {
    background: #12141b;
    font-size:normal;
}
body {
    background: #12141b;
}
h1.page_header {
    text-align:center;
}
h1.page_header img.logo {
    margin:.5em auto;
}
#ActionIndicator{
    position:absolute;
    display:none;
    top:0;
    right:0;
    width:auto;
    height:auto;
    cursor:pointer;
    background: #010208;
    color: #238aff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 5px;
}
#TwoColumnWrapper {
    display:inline-block;
    float:left;
    width:100%;
}
#MainContent {
    background: #a0a5b9;
    color: #010209;
    padding: 8px;
    border:1px solid #f0f4ff;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow: .2em .2em .2em #010209;
    -webkit-box-shadow: .2em .2em .2em #010209;
    box-shadow: .2em .2em .2em #010209;
    margin-bottom: 1em;
}
#TwoColumnWrapper #MainContent {
    margin-right:250px;
}
#SidebarContent {
    display:inline-block;
    float:left;
    width:240px;
    margin-left:-240px;
}
h2.title {
    margin-top:0;
}
a.exit:hover {
    background: #53baff;
    border: .2em solid #53baff;
    -moz-box-shadow: 0 0 .2em #58bfff, inset 0 0 .1em #53baff;
    -webkit-box-shadow: 0 0 .2em #53baff, inset 0 0 .1em #53baff;
    box-shadow: 0 0 .2em #53baff, inset 0 0 .1em #53baff;
}
.img {
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 .2em #288fff, inset 0 0 .4em #010208;
    -webkit-box-shadow: 0 0 .2em #238aff, inset 0 0 .4em #010208;
    box-shadow: 0 0 .2em #238aff, inset 0 0 .4em #010208;
}
input, textarea {
    /*background: #d6e9f9;*/
    background:none;
    color: #010209;
    border:1px solid #f0f4ff;
    padding:.1em .4em .1em .7em;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow:inset .1em .1em .1em #010209;
    -webkit-box-shadow:inset .1em .1em .1em #010209;
    box-shadow:inset .1em .1em .1em #010209;
}
.button {
    outline: none;
    background: #9199ab;
    color: #010209;
    font-weight: bold;
    text-decoration:none;
    font-size: 1.1em;
    padding: .1em 2em;
    text-align:center;
    border:1px solid #f0f4ff;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow: .1em .1em .1em #010209;
    -webkit-box-shadow: .1em .1em .1em #010209;
    box-shadow: .1em .1em .1em #010209;
}
.button:hover {
    cursor:pointer;
    background: #f0f4ff;
    color: #12141f;
}
.button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.special_button {
    background: #4299e0;
    font-size: 1.5em;
    padding: .5em 3em;
    clear: both;
}
#SidebarContent .button { display:block; }

div#MainContent .header {
    display: block;
    margin:1em 0;
}
div#MainContent .header h2, 
div#MainContent .header h3, 
div#MainContent .header h4, 
div#MainContent .header h5, 
div#MainContent .header h6 {
    margin:0; padding:0;
}
div#MainContent .header .left {
    display: inline;
    float: left;
}
div#MainContent .header .right {
    display: inline;
    float: right;
}
.listholder {
    display:block;
    max-height:15em;
    overflow:auto;
    border:1px solid #010209;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow: inset .1em .1em .1em #010209;
    -webkit-box-shadow: inset .1em .1em .1em #010209;
    box-shadow: inset .1em .1em .1em #010209;
}
.listholder .listitem {
    display:block;
    background: #a0a5b9;
    color:#010209;
    padding:.1em .4em .1em .7em;
    border:1px solid #f0f4ff;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow: .1em .1em .1em #010209;
    -webkit-box-shadow: .1em .1em .1em #010209;
    box-shadow: .1em .1em .1em #010209;
}
.listholder .listitem .actions {
    display:inline;
    float:right;
    text-align:right;
    font-size:1em;
}
.listholder .location .name {
    display:inline;
    float:left;
    width:50%;
    font-weight:bold;
    font-size:1.1em;
}
.listholder .location .tags {
    display:inline;
    float:left;
    width:24%;
    font-size:1em;
    color:#eee;
}
#LocationEditorTabs .tab {
    display:inline-block;
    font-size:1.1em;
    padding:.2em 3em;
    border:1px solid #f0f4ff;
    -moz-border-radius: 0 .5em 0 1em;
    -webkit-border-radius: 0 .5em 0 1em;
    border-radius: 0 .5em 0 1em;
    -moz-box-shadow: .1em .1em .1em #010209;
    -webkit-box-shadow: .1em .1em .1em #010209;
    box-shadow: .1em .1em .1em #010209;
}
#LocationEditorTabs .tab:hover {
    cursor:pointer;
    background: #f0f4ff;
    color: #12141f;
}
#LocationEditorTabs .tab:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#LocationEditorTabs .active {
    background: #f0f4ff;
    -moz-box-shadow: .1em .1em .1em #010209;
    -webkit-box-shadow: .1em .1em .1em #010209;
    box-shadow: .1em .1em .1em #010209;
}
#LocationEditor .tabpage {
    margin-bottom:1em;
}
.listholder .exit .id {
    display:inline;
    float:left;
    font-size:1em;
    width:3em;
}
.listholder .exit .name {
    display:inline;
    float:left;
    font-weight:bold;
    font-size:1.1em;
    padding-right:2em;
}
.listholder .exit .destination {
    display:inline;
    float:left;
    font-size:1em;
}
.listholder .brick .order {
    display:inline;
    float:left;
    font-size:1em;
}
.listholder .brick .brick_content {
    display:block;
    margin:.1em .2em;
}
