<%inherit file="base_onecolumn.html"/>

<%block name="page_title">Firemark - location builder</%block>

<%block name="main_content">
    <div class="header">
        <div class="left"><h2>Location search</h2></div>
        <div class="right">
            <form id="LocationSearchForm">
                <input type="text" name="LocationSearch" value="" id="LocationSearchInput" />
                <input type="submit" value="Search" style="display:none;" />
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header">
        <div class="left"><h3>Locations</h3></div>
        <div class="right"><a href="#" class="button" id="AddLocation">Add new location</a></div>
        <div class="clear"></div>
    </div>
    <div class="listholder" id="Locations">
        <div class="listitem location">
            <span class="name">Location name</span>
            <span class="tags">tag1, tag2</span>
            <span class="actions">
                <a href="#">Entrance2Exit</a>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </span>
            <div class="clear"></div>
        </div>
        <div class="listitem location">
            <span class="name">Location name</span>
            <span class="tags">tag1, tag2</span>
            <span class="actions">
                <a href="#">Entrance2Exit</a>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </span>
            <div class="clear"></div>
        </div>
    </div>
    <div id="LocationEditor" style="display:none;">
        <h2 id="LocationEditorAction">Edit location</h2>
        <div id="LocationEditorTabs">
            <div class="tab active" id="LocationEditorTab_Data">Location data</div>
            <div class="tab" id="LocationEditorTab_Exits">Exits</div>
            <div class="tab" id="LocationEditorTab_Bricks">Bricks</div>
            <div class="clear"></div>
        </div>
        <form action="#" method="POST" id="LocationEditorForm">
        <div class="tabpage" id="LocationEditorData">
            <div class="header"><h3>Location data</h3></div>
            <div class="listholder">
                <table>
                    <tr><th><label for="EditLocationName">Name</label></th>
                        <td><input type="text" name="name" id="EditLocationName"/></td></tr>
                    <tr><th><label for="EditLocationTags">Tags</label></th>
                        <td><input type="text" name="tags" id="EditLocationTags"/></td></tr>
                </table>
            </div>
        </div>
        <div class="tabpage" id="LocationEditorExits" style="display:none;">
            <div class="header">
                <div class="left"><h3>Exits</h3></div>
                <div class="right"><a href="#" class="button" id="AddExit">Add exit</a></div>
                <div class="clear"></div>
            </div>
            <div class="listholder">
                <div class="listitem exit">
                    <span class="id">Id</span>
                    <span class="name">Name</span>
                    <span class="destination">Destination location</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                </div>
                <div class="listitem exit">
                    <span class="id">Id</span>
                    <span class="name">Name</span>
                    <span class="destination">Destination location</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="tabpage" id="LocationEditorBricks" style="display:none;">
            <div class="header">
                <div class="left"><h3>Bricks</h3></div>
                <div class="right"><a href="#" class="button" id="AddBrick">Add brick</a></div>
                <div class="clear"></div>
            </div>
            <div class="listholder">
                <div class="listitem brick">
                    <span class="order">1.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                <div class="listitem brick">
                    <span class="order">2.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                <div class="listitem brick">
                    <span class="order">3.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                <div class="listitem brick">
                    <span class="order">4.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                <div class="listitem brick">
                    <span class="order">5.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                <div class="listitem brick">
                    <span class="order">6.</span>
                    <span class="actions">actions</span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
            </div>
        </div>
        <input type="submit" id="LocationEditorSubmit" class="button" value="Save location"/>
        </form>
    </div>
</%block>
<%block name="javascript">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a#AddLocation').click(function(evt) {
                evt.preventDefault();
                $('#LocationEditor h2#LocationEditorAction').html('Add location');
                $('#LocationEditor').show();
            });
            $('#LocationEditorTabs .tab').click(function(evt) {
                var selector = evt.target.id.split('_')[1];
                $('#LocationEditorTabs .tab').removeClass('active');
                $(evt.target).addClass('active');
                $('#LocationEditor .tabpage').hide();
                $('#LocationEditor'+selector).show();
            });
            $('form#LocationEditorForm').submit(function(evt) {
                evt.preventDefault();
                console.log($('input#EditLocationName').val());
                return false;
            });
            $('form#LocationSearchForm').submit(function(evt) {
                evt.preventDefault();
                var searchword = $('input#LocationSearchInput').val();
                $.post('/json/builder/searchlocation', {LocationSearch: searchword}, function(data) {
                    $('#Locations').html('');
                    if (data.locations) {
                        data.locations.each(function(item) {
                            $('#Locations').append('<div class="listitem location">' +
                                '<span class="name">' + item.name + '</span>' +
                                '<span class="tags">' + item.tags + '</span>' +
                                '<span class="actions"><a href="#">Entrance2Exit</a><a href="#">Edit</a><a href="#">Delete</a></span>' +
                                '<div class="clear"></div>' +
                                '</div>'
                            );
                        });
                    }
                });
                return false;
            });
        });
    </script>
</%block>
